.root {
  font-size: 40px;
  color: black;
  // width: 150px;
  // border: 50px solid lavender;
  // padding: 50px;
  position: relative;
  top: 50px;
  text-align: center;
  // background-color: lavender;
  text-shadow: 2px 2px gray;
}
