.img1 {
  width: 50%;
  height: 60%;
  position: relative;
  top: 1200px;
}
.img2 {
  width: 50%;
  height: 50%;
  position: relative;
  top: 1200px;
  left: 10px;
}

.headline {
  font-size: 2rem;
  position: relative;
  text-align: center;
  right: 150px;
  top: 1200px;
}
