.gif {
  width: 29.9%;
  height: 29.9%;
  position: relative;
  top: 200px;
}
.giff {
  width: 30%;
  height: 30%;
  position: relative;
  top: 200px;
}
.gifff {
  width: 31.4%;
  height: 31.4%;
  position: relative;
  top: 200px;
}
.copy {
  position: relative;
  top: 200px;
  position: relative;
  top: 200px;
  font-size: 1rem;
}
